# ==========================================
# Vivado Logs & Temporary Files
# ==========================================
*.log
*.jou
*.str
*.pb
*.dir/
*.dcp
*.bit
*.bin
*.ltx
*.fmt

# ==========================================
# Vivado System & Cache Directories
# ==========================================
.Xil/
.cache/
.Xilinx/

# ==========================================
# Generated Project Directories
# ==========================================
/*.runs/
/*.sim/
/*.hw/
/*.ip_user_files/
/*.gen/

# ==========================================
# Vitis / Embedded SDK Builds (If used)
# ==========================================
/*.sdk/
/*.vitis
